<template>
  <div>
    <div class="bam">
      <div class="uk-animation-scale-up uk-transform-origin-top-center">
        When weather conditions get extreme and your HVAC system fails give us a call for the best repair right away.
        <div>
          <a href="/schedule-appointment">
            <button class="uk-button uk-button-primary">Schedule Appointment</button>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="section">
        <div
          class="subbam"
        >Refer us to someone you know with an old system and if we do there install a 10% credit toward next service/repair.</div>
      </div>
      <div class="section">
        <div class="subtitle">
          We specialize in
          <div class="line" />
        </div>
        <div class="grid">
          <div class="grid-item">
            <img src="../assets/contact-switch.jpg" />
            <div class="name">contact switch replacement</div>
          </div>
          <div class="grid-item">
            <img src="../assets/fan.jpg" />
            <div class="name">condenser fan and capacitor replacement</div>
          </div>
          <div class="grid-item">
            <img src="../assets/refrigerant.jpg" />
            <div class="name">leak detection</div>
          </div>
          <div class="grid-item">
            <img src="../assets/heat-pump.jpg" />
            <div class="name">heat pump diagnostics</div>
          </div>
          <div class="grid-item">
            <img src="../assets/reversal-valve.jpg" />
            <div class="name">reversal valves</div>
          </div>
          <div class="grid-item">
            <img src="../assets/clog.jpeg" />
            <div class="name">clogged drains and other restrictions</div>
          </div>
          <div class="grid-item">
            <img src="../assets/blower.jpg" />
            <div class="name">air handler fan replacement</div>
          </div>
          <div class="grid-item">
            <img src="../assets/circuit-board.jpeg" />
            <div class="name">circuit board replacement</div>
          </div>
          <div class="grid-item">
            <img src="../assets/heating-element.jpg" />
            <div class="name">heating element and thermocouple replacements</div>
          </div>
          <div class="grid-item">
            <img src="../assets/coil.jpg" />
            <div class="name">clogged evaporator coil pans and drains</div>
          </div>
          <div class="grid-item">
            <img src="../assets/fuses.jpg" />
            <div class="name">blown fuses</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.bam {
  background-image: url("../assets/hvac-repair.jpg");
}
</style>