<template>
    <div>
        <div class="bam">
            <div class="uk-animation-scale-up uk-transform-origin-top-center">
                Our installations are extremely thorough and done in a clean and timely manner. Choose us If you want your system to look as well as it performs.
                <div>
                    <a href="/schedule-appointment">
                        <button class="uk-button uk-button-primary">Schedule Appointment</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <div class="section">
                <div class="subbam">
                    We perform all levels of residential installation including new construction. Some commercial. Just give us a call and we’ll direct you to an associate if the job is too big.
                </div>
            </div>
            <div class="section">
                <div class="subtitle">
                    We install
                    <div class="line" />
                </div>
                <div class="uk-container">
                    <div class="grid">
                        <div class="grid-item">
                            <img src="../assets/mini-split.jpg" />
                            <div class="name">mini splits</div>
                        </div>
                        <div class="grid-item">
                            <img src="../assets/furnace.jpg" />
                            <div class="name">gas and electric furnaces</div>
                        </div>
                        <div class="grid-item">
                            <img src="../assets/heat-pump.jpg" />
                            <div class="name">AC &amp; Heatpumps</div>
                        </div>
                        <div class="grid-item">
                            <img src="../assets/package-unit.png" />
                            <div class="name">Package units</div>
                        </div>
                        <div class="grid-item">
                            <img src="../assets/high-velocity.jpg" />
                            <div class="name">High velocity</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="less" scoped>
    .bam { background-image: url('../assets/hvac-install.jpg'); }
</style>