<template>
  <div>
    <div class="bam">
      <div class="uk-animation-scale-up uk-transform-origin-top-center">
        Lack of proper maintenance is the number one cause of premature system failure. Is your system running poorly? Schedule a system efficiency checkup with our recurring mainteance plans.
        <div>
          <a href="/schedule-appointment">
            <button class="uk-button uk-button-primary">Schedule Appointment</button>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="section">
        <div class="subtitle">
          Maintenance Plans Include
          <div class="line" />
        </div>
        <div class="grid">
          <div class="grid-item">
            <img src="../assets/maintenance.jpg" />
            <div class="name">first maintenance free with two year contract</div>
          </div>
          <div class="grid-item">
            <img src="../assets/multiple-units.jpg" />
            <div class="name">Multi-unit discount</div>
          </div>
          <div class="grid-item">
            <img src="../assets/coil-cleaning.jpg" />
            <div class="name">Indoor/outdoor coil cleaning</div>
          </div>
          <div class="grid-item">
            <img src="../assets/filters.jpg" />
            <div class="name">Standard filter replacement</div>
          </div>
          <div class="grid-item">
            <img src="../assets/refrigerant.jpg" />
            <div class="name">Refrigerant/freon level check</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.bam {
  background-image: url("../assets/hvac-maintenance.jpg");
}
</style>