<template>
    <div class="uk-container uk-container-small uk-position-relative page">
        <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/d307d9726cd888c25c28159f0a7cce6f6510504"></div>
    </div>
</template>

<script>
export default {
  mounted() {
    const plugin = document.createElement("script");
    plugin.setAttribute(
      "src",
      "https://cdn.pipedriveassets.com/web-form-assets/webforms.min.js"
    );
    plugin.async = true;
    document.head.appendChild(plugin);
  }
};
</script>

<style lang="less">
.pipedriveWebForms iframe {
    min-height: 800px;
}
</style>