<template>
    <div>
        <div class="bam">
            <div class="uk-animation-scale-up uk-transform-origin-top-center">
                Maintenance &amp; repair contracts for your entire fleet of vehicles.
                <div>
                    <a href="/schedule-appointment">
                        <button class="uk-button uk-button-primary">Schedule Appointment</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="uk-container">
            <div class="section">
                <div class="subbam">
                    Large volume customers get huge savings!
                </div>
            </div>
            <div class="section">
                <div class="subtitle">
                    Ideal for
                    <div class="line" />
                </div>
                <div class="grid">
                    <div class="grid-item">
                        <img src="../assets/car-rental.jpeg" />
                        <div class="name">Car rentals</div>
                    </div>
                    <div class="grid-item">
                        <img src="../assets/dealership.jpg" />
                        <div class="name">Dealerships</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="less" scoped>
    .bam { background-image: url('../assets/automotive-repair.jpg'); }
</style>