<template>
  <div>
    <div class="bam">
      <div class="uk-animation-scale-up uk-transform-origin-top-center">
        From supercharged corollas to classic mustangs. Autocross monsters to ¼ mile bullets.
        <div>
          <a href="/schedule-appointment">
            <button class="uk-button uk-button-primary">Schedule Appointment</button>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="section">
        <div
          class="subbam"
        >Our mechanic shop owner grew up around cars. Several of his uncles had high-performance vehicles. They saw his passion for cars and always knew that no matter what he did in life fast cars would be involved.</div>
      </div>
      <div class="section">
        <div class="subtitle">
          Manufacturers
          <div class="line" />
        </div>
        <div class="grid">
          <div class="grid-item">
            <img src="../assets/honda.jpg" />
            <div class="name">Honda</div>
          </div>
          <div class="grid-item">
            <img src="../assets/toyota.jpg" />
            <div class="name">Toyota</div>
          </div>
          <div class="grid-item">
            <img src="../assets/audi.png" />
            <div class="name">Audi</div>
          </div>
          <div class="grid-item">
            <img src="../assets/porsche.png" />
            <div class="name">Porsche</div>
          </div>
          <div class="grid-item">
            <img src="../assets/chevrolet.jpg" />
            <div class="name">Chevrolet</div>
          </div>
          <div class="grid-item">
            <img src="../assets/ford.png" />
            <div class="name">Ford</div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="subtitle">
          Major Upgrades
          <div class="line" />
        </div>
        <div class="grid">
          <div class="grid-item">
            <img src="../assets/superchargers.png" />
            <div class="name">Superchargers &amp; turbochargers</div>
          </div>
          <div class="grid-item">
            <img src="../assets/engine.jpeg" />
            <div class="name">Complete engine builds</div>
          </div>
          <div class="grid-item">
            <img src="../assets/fuel-delivery.jpg" />
            <div class="name">Fuel and air delivery</div>
          </div>
          <div class="grid-item">
            <img src="../assets/suspension.jpg" />
            <div class="name">Suspension modifications and tuning</div>
          </div>
          <div class="grid-item">
            <img src="../assets/engine-management.jpg" />
            <div class="name">Engine management swaps and rewiring</div>
          </div>
          <div class="grid-item">
            <img src="../assets/transmission.jpg" />
            <div class="name">Engine and transmission cooling efficiency</div>
          </div>
          <div class="grid-item">
            <img src="../assets/aerodynamics.jpg" />
            <div class="name">Functional aerodynamics, prefabricated and custom</div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="subtitle">
          Minor Upgrades
          <div class="line" />
        </div>
        <div class="grid">
          <div class="grid-item">
            <img src="../assets/window-tinting.jpg" />
            <div class="name">Window tinting</div>
          </div>
          <div class="grid-item">
            <img src="../assets/wraps.jpg" />
            <div class="name">Vehicle wraps</div>
          </div>
          <div class="grid-item">
            <img src="../assets/leds.jpg" />
            <div class="name">LED lighting</div>
          </div>
          <div class="grid-item">
            <img src="../assets/gps.jpg" />
            <div class="name">Stereo head unit &amp; GPS</div>
          </div>
          <div class="grid-item">
            <img src="../assets/subwoofer.jpeg" />
            <div class="name">Amplifiers &amp; subwoofers</div>
          </div>
          <div class="grid-item">
            <img src="../assets/speakers.png" />
            <div class="name">High, mid, and low frequency driver installations</div>
          </div>
          <div class="grid-item">
            <img src="../assets/stereo.jpg" />
            <div class="name">Factory stereo integration and line-output converters</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.bam {
  background-image: url("../assets/automotive-repair.jpg");
}
</style>