<template>
  <div>
    <div class="bam">
      <div class="uk-animation-scale-up uk-transform-origin-top-center">
        All makes and models. No job too big or too small.
        <div>
          <a href="/schedule-appointment">
            <button class="uk-button uk-button-primary">Schedule Appointment</button>
          </a>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div class="section">
        <div
          class="subbam"
        >Automobiles of today are extremely computerized and these computers are connected together like a Local Area Network. Some cars having almost 50 of these “computers.” This makes diagnostics easier than it was even 10 years ago. However a good understanding of these connections is an essential part to making use of these intelligent automobiles.</div>
        <div
          class="subbam"
        >We specialize in finding the issue that other mechanics cant. So, if you’re stumped bring your vehicle to us where everything we do is Extreme.</div>
        <div
          class="subbam"
        >Here at The Car Doctor we believe in truth and trust. If you feel you can’t trust mechanics you are not alone. Second opinions are always free with an invoice from a competitor.</div>
      </div>
      <div class="subtitle">
        We Service
        <div class="line" />
      </div>
      <div class="grid">
        <div class="grid-item">
          <img src="../assets/brakes.jpg" />
          <div class="name">brake safety and brake noises</div>
        </div>
        <div class="grid-item">
          <img src="../assets/suspension.jpg" />
          <div class="name">failing struts and suspension components</div>
        </div>
        <div class="grid-item">
          <img src="../assets/starter.jpg" />
          <div class="name">no start and other electronic issues</div>
        </div>
        <div class="grid-item">
          <img src="../assets/engine.jpeg" />
          <div class="name">engine and transmission replacement</div>
        </div>
        <div class="grid-item">
          <img src="../assets/sensors.jpeg" />
          <div class="name">sensors and seals</div>
        </div>
        <div class="grid-item">
          <img src="../assets/diagnostics.jpg" />
          <div class="name">advanced vehicle diagnostics and relearning</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.bam {
  background-image: url("../assets/automotive-repair.jpg");
}
</style>