<template>
    <div>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 5000; animation: push">
            <ul class="uk-slideshow-items" style="min-height: 888px;">
                <li><img src="../assets/car.jpg" alt="" uk-contain></li>
                <li><img src="../assets/hvac.jpg" alt="" uk-contain></li>
                <li><img src="../assets/specialty.jpg" alt="" uk-contain></li>
            </ul>
        </div>
        <div class="uk-container">
            <div class="subtitle">
                All your engineering needs
                <div class="line" />
            </div>
            <div class="grid">
                <div class="grid-item pad">
                    <img src="../assets/car-doctor.png" alt="" class="contain short">
                    <div>
                        Automotive repair, upgrades, and fleet maintenance.
                    </div>
                </div>
                <div class="grid-item pad">
                    <img src="../assets/air-manipulator.png" alt="" class="contain short">
                    <div>
                        HVAC repair, installation, and maintenance plans.
                    </div>
                </div>
                <div class="grid-item pad">
                    <img src="../assets/extreme-engineer.png" alt="" class="contain short">
                    <div>
                        All of your unique engineering needs.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="less">

.card-red {
    background-color: #f52b17;
    color: white;
    .uk-card-title {
        color: white;
    }
}

</style>
