<template>
    <div class="white-background" uk-sticky>
        <div class="uk-container">
            <nav class="uk-navbar" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
                    <a href="/" class="uk-navbar-item uk-logo">
                        <img src="../assets/logo-horizontal.png" />
                    </a>
                    <ul class="uk-navbar-nav" v-for="(value, name, index) in menu" :key="index">
                        <li class="uk-active uk-visible@m">
                            <a :href="typeof value == 'string' ? value : ''">{{ name }}</a>
                            <div class="uk-navbar-dropdown" uk-dropdown="offset: 0" v-if="typeof value == 'object'">
                                <ul class="uk-nav uk-navbar-dropdown-nav" v-for="(value, name, index) of value" :key="index">
                                    <li class="uk-active"><a :href="value">{{ name }}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right uk-visible@s">
                    <div class="uk-navbar-item">
                        <a href="/schedule-appointment">
                            <button class="uk-button uk-button-primary">Schedule Appointment</button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: {
    menu: Object
  }
}
</script>

<style lang="less">
.white-background {
    box-shadow: 0px 1px 130px -24px rgba(0,0,0,0.75);
    background-color: white;
    .uk-container { padding: 0; }
    .uk-logo {
        width: 250px;
        padding: 0px;
    }
}
.uk-navbar-nav { text-align: left; }
</style>