<template>
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default primary">
                <li><a href="/schedule-appointment">Schedule Appointment</a></li>
            </ul>
            <ul class="uk-nav uk-nav-default" v-for="(value, name, index) in menu" :key="index">
                <li class="uk-parent">
                    <a :href="typeof value == 'string' ? value : ''">{{ name }}</a>
                    <template v-if="typeof value == 'object'">
                        <ul class="uk-nav-sub" v-for="(value, name, index) of value" :key="index">
                            <li><a :href="value">{{ name }}</a></li>
                        </ul>
                    </template>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
  name: 'NavBar',
  props: {
    menu: Object
  }
}
</script>

<style lang="less" scoped>

#offcanvas-nav .primary > li > a {
    color: #1e87f0;
    font-weight: bold;
}

</style>