<template>
  <div id="app">
    <NavBar :menu="menu" />
    <div class="title" v-if="this.$route.name">{{ this.$route.name }}</div>
    <router-view></router-view>
    <NavSlide :menu="menu" />
    <div class="footer">&copy; Extreme Engineering</div>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import NavSlide from './components/NavSlide.vue'
import 'uikit';

const menu = function() {
  const menu = {};
  for (let route of this.$router.options.routes) {
    if (!route.name) {
      continue;
    }

    let names = route.name.split('/');
    let currentMenu = menu;
    let lastNameIndex = names.length - 1;
    for (var i = 0; i < names.length; i++) {

      let name = names[i];
      if (name == '') {
        continue;
      }

      if (i == lastNameIndex) {
        currentMenu[name] = route.path;
        continue;
      }

      if (!(name in currentMenu)) {
        let newMenu = {}
        currentMenu[name] = newMenu;
        currentMenu = newMenu;
      } else {
        currentMenu = currentMenu[name];
      }

    }
  }

  return menu;
}

export default {
  name: 'app',
  components: {
    NavBar,
    NavSlide
  },
  computed: {
    menu
  }
}
</script>

<style lang="less">

@import "../node_modules/uikit/src/less/uikit.theme.less";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.page {
  margin-top: 40px;
}

.title {
  padding: 20px;
  background: rgb(43,57,144);
  background: linear-gradient(90deg, rgba(43,57,144,1) 0%, rgba(43,112,144,1) 100%);
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 1px 90px 0px rgba(0,0,0,0.90);
  position: relative;
  text-transform: uppercase;
}

.subtitle {
  padding: 0px 20px 20px 20px;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(43,57,144,1);
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;

  .line {
    margin-top: 20px;
    background-color: rgba(43,112,144,1);
    height: 5px;
    width: 100px;
  }
}

.footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #4D4D4D;
  text-align: center;
  color: white;
}

.section {
  margin-bottom: 40px;
}

.bam {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 60px;
  padding-right: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;

  .uk-button {
    margin-top: 20px;
  }

  @media (max-width: @breakpoint-medium) {
    font-size: 30px;
  }

  @media (max-width: @breakpoint-small) {
    font-size: 20px;
  }

}

.subbam {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  background: rgb(43,57,144);
  background: linear-gradient(90deg, rgba(43,57,144,1) 0%, rgba(43,112,144,1) 100%);
  color: white;
  box-shadow: 0px 1px 50px 0px rgba(43,57,144,0.7);
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .grid-item {
    width: 300px;
    margin: 10px;
    box-shadow: 0px 1px 30px 0px rgba(43,57,144,0.5);

    &.pad {
      padding: 10px;
    }
    
    img {
      height: 300px;
      object-fit: cover;

      &.contain {
        object-fit: contain;
      }

      &.short {
        height: 150px;
      }

    }

    .name {
      background-color: #2B3990;
      color: white;
      text-transform: uppercase;
      padding: 10px;
      font-weight: bold;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}

</style>
